@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700;900&family=Poppins:wght@100;200;300;400;500;600;700&family=Public+Sans:wght@300;400;500;600;700;800&display=swap');


.container{

    display: flex;  
    justify-content:space-between;
    margin: 40px;
        
}



.menu ul{
    display: flex;
    padding: 20px;
    font-size: 15px;
    font-weight: 400 ;
}


.menu li a{
    display: flex;
    padding:10px ;
    color:black;
    
   
}
.menu li a:hover{
    background-color: #5bc241; 
    color:white;
}

.espaco-logo{
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 800;

   
}


.espaco-logo img{    
    
    width: 76px;
    height: 47px;
     
    
    
}
button{      
    width: 127px;
    height: 39px;
    border-radius: 10px;   
    background-color:#5BC241 ;
    color: white;
    margin-left: 35px;
    font-size: 15px;
    font-weight: 300;

    
}